.content {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.item-title {
    width: 50%;
}

.item-image {
    margin-right: 20px;
}

.experience-container {
    margin-left: 30px;
}

.data-experience-card {
    width: 80%; 
}

@media screen and (max-device-width: 1000px){
    .content {
        flex-direction: column-reverse;
    }

    .item-title {
        width: 100%;
    }

    .experience-container {
        margin-left: 0;
    }

    .data-experience-card {
        width: 100%; 
    }
}