body {
    font-family: "Roboto";
}

/*COLORS*/

.bg-color-primary {
    background-color: #7b0ed4;
}

.bg-color-primary-darker {
    background-color: #610ca7;
}

.bg-color-primary-dark {
    background-color: #3399FF;
}

.bg-color-secondary-dark {
    background-color: #B2BAC2;
}

.bg-color-secondary {
    background-color: #ffffff;
}

.bg-color-background {
    background-color: #0A1929;
}

.bg-color-success {
    background-color: #2e7d32;
}

.bg-color-danger {
    background-color: #f44336;
}

.bg-color-warning {
    background-color: #ffeb3b;
}

.bg-color-info {
    background-color: #03a9f4;
}

/*colors*/
.color-primary {
    color: #7b0ed4;
}

.color-primary-darker {
    color: #610ca7;
}

.color-primary-dark {
    color: #3399FF;
}

.color-secondary-dark {
    color: #B2BAC2;
}

.color-white {
    color: #ffffff;
}

.color-success {
    color: #2e7d32;
}

.color-danger {
    color: #f44336;
}

.color-warning {
    color: #ffeb3b;
}

.color-info {
    color: #03a9f4;
}

/*font size*/
.fs-24 {
    font-size: 24px;
}

.fs-64 {
    font-size: 64px;
}

.fs-32 {
    font-size: 32px;
}

.fs-18 {
    font-size: 18px;
}

/*MUI stepper*/
/* .MuiStepLabel-labelContainer.css-16ubnlw-MuiStepLabel-labelContainer {
    color: white;
}

.css-1l2gxq6-MuiStepLabel-label.Mui-active {
    color: white;
}

.Mui-completed {
    color: white;
} */

