.Navbar {
    height: 100vh;
    width: 250px;
    background-color: #7b0ed4;
}

.Navlink {
    color: white;
    text-decoration: none;
}

.bg-red {
    background-color: red;
}

.pages {
    text-decoration: none;
}