.Navbar {
    height: 100vh;
    width: 300px;
    background-color: #1A2735;
    position: fixed;
    transition : ease 0.3s;
    z-index: 2;
}

.Navlink {
    color: white;
    text-decoration: none;
}

.bg-red {
    background-color: red;
}

.pages {
    text-decoration: none;
}

.nav-highlighted {
    background-color: rgba(5, 105, 204, 0.29);
}

.nav-transparent {
    background-color: rgba(5, 105, 204, 0);
}

/*button*/
.hero-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.avatar-logo {
    margin-left: 5px;
    margin-top: 10px;
}

/*scrollbar*/
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #474747; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #666666; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  @media screen and (max-device-width: 1000px){
      .Navbar {
          transform: translateX(-500px);
      }
      /* .Navbar {
          display: none;
      } */
      .slide {
          width: 100%;
          margin-top: 30px;
          text-align: center;
          transform: translateX(0);
      }

      .item-container {
          justify-content: center;
      }
  }