.container {
    width: 60%;
    /* padding: 20px; */
    /* margin-left: 350px; */
}

.content-container {
    width: 50%;
}

.landing-page-title {
    text-align: left;
}

.text-left {
    text-align: left;
}

.title-section {
    display: flex;
}

.about-title {
    display: flex;
}

.landing-page-subtitle {
    font-size: 24px;
    line-height: 1.5;
}

.subtitle {
    margin-top: -20px;
    margin-bottom: 45px;
}

p {
    line-height: 24px;
}

.random-shape {
    width: 50%;
    position: fixed;
    right: 0;
    top: 80vh;
    overflow: hidden;
}

.waving-hand {
    width: 30px;
}

.service-req-landing {
    display: flex;
    /* width: 70%; */
}

.service-reg-section-landing {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
}

.box {
    width: 40%;
    background-color: #BAE1DF;
    /* opacity: 0.3; */
    border-radius: 20px;
    box-shadow: 5px 20px 50px rgba(170, 185, 251, 0.15);
    background-image: url('../../assets/coding-image.jpg');
    background-size: cover;
    height: 300px;
}

.about-box {
    width: 40%;
    background-color: #BAE1DF;
    background-image: url('../../assets/pattern.svg');
    /* opacity: 0.3; */
    border-radius: 20px;
    box-shadow: 5px 20px 50px rgba(170, 185, 251, 0.15);
    height: 530px;
}

.box-video {
    background-color: #21A099;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 40px 40px 40px;
    max-width: 200px;
    float: right;
    margin-top: -50px;
    margin-right: -50px;
    border-radius: 10px;
    color: white;
    opacity: 0.9;
}

.box-play-button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box .about-card-landingPage {
    opacity: 1;
}

.subscription-landing-page {
    margin: auto;
    text-align: center;
}

.subscription-form {
    border: 1px solid #D7D7D7;
    width: fit-content;
    padding: 20px;
    margin: 50px auto;
    justify-content: center;
    display: flex;
    align-items: center;
}

@media screen and (max-device-width: 1000px){
    .container {
        margin-left: 0;
    }

    .content-container {
        margin-left: 0;
    }

    .container-2 {
        padding: 40px;
    }
    

    .title-section {
        margin-top: 0;
    }

    .title-section .landing-page-title {
        font-size: 40px;
    }

    .landing-page-subtitle {
        font-size: 20px;
        margin-bottom: 40px;
        line-height: 1.5;
    }
}