.container {
    width: 100%;
    padding: 20px;
    margin-left: 350px;
}

.landing-page-title {
    margin-top: 50px;
    text-align: left;
}

.text-left {
    text-align: left;
}

.title-section {
    display: flex;
}

.about-title {
    display: flex;
}

.subtitle {
    margin-top: -20px;
    margin-bottom: 45px;
}

p {
    line-height: 24px;
}

.random-shape {
    width: 50%;
    position: fixed;
    right: 0;
    top: 80vh;
    overflow: hidden;
}